/*--------------------------------------------------------------
 Application.css
 Imports all stylesheets; sets defaults for bare elements
 --------------------------------------------------------------*/

@import 'layout.css';
@import 'content.css';
@import 'prettify.css';

@media print { #sidebar { display:none; }
               #content { float: none; width:90%; }
               #content pre { color: #000; background: #eee; }
               #content .comments { display:none; } }

body {
    background: url(/images/theme/background.gif) repeat-x left top;
    font: normal 13px "lucida grande", verdana, arial, helvetica, sans-serif;
}

input,
textarea { font: normal 12px "bitstream vera sans", verdana, sans-serif; }

abbr  { border: none; }
cite  { font-style: normal; }
a img { border: none; padding: 0; margin: 0; }

a:link,  a:visited { color: #930; text-decoration: none; }
a:hover, a:active  { text-decoration: underline; }
