/* Header */
#header img {
    display: block;
    margin: 0px auto;
    max-width: 700px;
}

/* Social Share */
#socialshare {
    position: fixed; 
    right: 50%; 
    top: 170px; 
    width: 50px; 
    margin-right: -425px; 
    opacity: 1;
}

#socialshare a {
    position: relative; 
    display: block; 
    height: 50px; 
    margin-bottom: 4px; 
    background-color: #eee; 
    border: 1px solid #ccc; 
    -moz-border-radius: 7px; 
    -webkit-border-radius: 7px; 
    -moz-box-shadow: 0 0 1px #d7d7d7; 
    -webkit-box-shadow: 0 0 1px #d7d7d7;
}

#socialshare a:active {
    background-color: #211922 !important; 
    border-color: #211922 !important; 
    -moz-box-shadow: 0; 
    -webkit-box-shadow: 0;
}

#socialshare span {
    position: absolute; 
    right: 14px; 
    bottom: 10px; 
    background-image: url(/images/theme/social_icons.png);
}

#socialshare #facebook-share-button span {right: 12px; width: 14px; height: 26px; background-position: 0 -26px;}
#socialshare #facebook-share-button:hover {background-color: #3b5998; border-color: #3b5998;}
#socialshare #facebook-share-button:hover span,
#socialshare #facebook-share-button:active span {background-position: 0 0;}

#socialshare #twitter-share-button span {width: 12px; height: 20px; background-position: -15px -32px;}
#socialshare #twitter-share-button:hover {background-color: #5ecbfb; border-color: #5ecbfb;}
#socialshare #twitter-share-button:hover span,
#socialshare #twitter-share-button:active span {background-position: -15px -6px;}

#socialshare #email-share-button span {right: 8px; width: 22px; height: 21px; background-position: -31px -31px;}
#socialshare #email-share-button:hover {background-color: #1389e5; border-color: #1389e5;}
#socialshare #email-share-button:hover span,
#socialshare #email-share-button:active span {background-position: -31px -57px;}


/* Access */
#access {
    display: block;
    float: left;
    margin: 0 auto 0 auto;
    width: 100%;
    background: #ccc;
}

#access ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#access li {
    float: left;
    position: relative;
}

#access a {
    display: block;
    line-height: 2em;
    padding: 0 1em;
    text-decoration: none;
    color: black;
}

#access li:hover > a,

#access ul ul :hover > a {
  background: #333;
  color: #fff;
}

#access ul ul a:hover {
  background: #000;
}

#access ul li:hover > ul {
  display: block;
}

/* Menu */
.menu {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 700px;
}

/* Content */
#content {}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5 { 
    font-family: "lucidamac bold", "lucida grande", arial, sans-serif; 
    letter-spacing: -1px;
}

#content h1 { font-size: 24px; margin: 0 0 0.3em; }
#content h2 { font-size: 22px; margin: 0 0 0.3em; }
#content h3 { font-size: 20px; margin: 1.2em 0 0.3em; }
#content h4 { font-size: 18px; margin: 1.2em 0 0.3em; border-bottom: 1px dotted #bbb; }
#content h5 { font-size: 18px; background: #ffd; margin: 1.2em 0 0.3em; border-bottom: 1px dotted #aaa; }

#content .entry {
    clear:left; 
    border-bottom: 1px dotted #aaa;
}
    
#content .entry img { display: block; margin-left: auto; margin-right: auto; }

#content .entry_summary { min-height: 180px; }
#content .entry_summary img { 
    position: relative; bottom: 20px;
    float:right; 
    margin: 0 0 0 15px; 
    padding: 0px; 
    -webkit-box-shadow: 0 0 7px rgba(0,0,0, .5);
    -moz-box-shadow:    0 0 7px rgba(0,0,0, .5);
    -box-shadow:        0 0 7px rgba(0,0,0, .5);
}

#content .entry_summary p { text-align: left; }

#content ul,
#content ol { margin: 1em; padding:0; }

#content ul { list-style-type: square; }

#content .excerpts ul {  line-height: 21px; }

#content li {
    line-height: 15px; 
    margin: 0 0 0 1em; padding: 0;
}

#content blockquote {
    color: #555;
    border-left: 5px solid #ccc; 
    margin: 1.3em 1em; padding: 0 1em;
}

#content code { 
    font-family: Consolas, "bitstream vera sans mono", monaco, "lucida console", "courier new", courier, serif;
}

#content pre {
    overflow: auto;
    font-size: 85%;
    font-family: Consolas, "bitstream vera sans mono", monaco, "lucida console", "courier new", courier, serif;
}

#content h2 a,
#content h3 a,
#content h4 a,
#content h5 a { color: #000; text-decoration: none; }
#content h1 a:active,
#content h2 a:active,
#content h3 a:active,
#content h4 a:active,
#content h5 a:active { color: #000; text-decoration: none; }
#content h1 a:hover,
#content h2 a:hover,
#content h3 a:hover,
#content h4 a:hover,
#content h5 a:hover { background: #fff; text-decoration: underline; } 

#content .entry { margin: 0 0 10px 0; }

#content .entry .title {
    font-size: 24px;
    /* line-height: 94%; */
    letter-spacing: -1.5px; 
    margin: 0;
}

#content .entry .title a:link,
#content .entry .title a:visited { 
    color: #00243E;
    text-decoration: none;
}

#content .entry .title a:hover,
#content .entry .title a:active { 
    color: #00243E;
    background: transparent;
}

#content .entry .meta {
    color: #bbb;
    font: normal 16px/14px "lucidamac bold", "lucida grande", arial, verdana, sans-serif;
    letter-spacing: -1px;
    margin: 0 0 1em;
}

#content .codenotice {
    font-size: 85%;
    background: #eee;
    padding: 0.7em;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
