/**
 * Controls the main layout (width, height, margin, padding)
 *
 * #container
 *   #header
 *   #page
 *     #content
 *     #sidebar
 *   #footer
 */

body {
    background: #eee;
    font-family: helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    width: 700px;
    text-align: left; 
    margin: 3em auto 0 auto; 
    padding: 10px;
}

#header {
    background: black;
    background: black -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, #56585b), color-stop(.5, #262728), color-stop(1, black));
    background: black -moz-linear-gradient(top, #56585b, #262728 50%, black);
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 90px; 
}

#page {}

#content { 
    padding: 20px;
    background: white;
    margin-bottom: 3em;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0, .5);
    -moz-box-shadow:    0 0 5px rgba(0,0,0, .5);
    -box-shadow:        0 0 5px rgba(0,0,0, .5);
}
